<div class="row">
  <div class="col-md-6">
    <%= form.text_field :name, class: "form-control input-sm", placeholder: "Item" %>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3">
        <%= form.number_field :quantity, class: "form-control input-sm quantity" %>
      </div>
      <div class="col-md-4">
        <%= form.number_field :unit_price, class: "form-control input-sm price" %>
      </div>
      <div class="col-md-4">
        <%= form.text_field :total, class: "form-control input-sm text-right", disabled: true %>
      </div>
      <div class="col-md-1">
        <%= form.link_to_remove class: "btn btn-danger btn-sm remove-item" do  %>
          <i class="glyphicon glyphicon-remove"></i>
        <%end %>
<!--        <button type="button" class="btn btn-warning"></button>-->
      </div>
    </div>
  </div>
</div>


